{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>NNU Digital University | Login Page</title>
{% endblock %}

{% block body %}
<div class="navigation">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-9 col-8">
        <nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a href="/About/">About us</a>
              </li>
              <li class="nav-item">
                <a>Courses</a>
                <ul class="sub-menu" style="width: max-content;">
                  {% for i in Maincategory %}
                  <li><a href="/courses/{{i.id}}" class="text-left" href="#">{{i.name}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li class="nav-item">
                <a href="/event/">Events</a>
              </li>
              <li class="nav-item">
                <a href="/teachers/">Our teachers</a>
              </li>
              <li class="nav-item">
                <a href="/blog/">Blog</a>
              </li>
              <li class="nav-item">
                <a href="/contact/">Contact</a>
              </li>
              <li class="nav-item">
                <a href="/exam/">Exam</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-1">
        <div class="right-icon text-right">
          <ul>
            <li><a href="#" id="search"><i class="fa fa-search"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-1">
        <div class="pt-15">
          <ul>
            {% if request.user.is_authenticated %}
            <li class="nav-item mt-0">
              <a class="nav-link blue dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{request.user}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="row ml-2">
                  <li><a class="dropdown-item" href="/profile/">Profile</a></li>
                </div>
                <div class="row ml-2">
                  <li><a class="dropdown-item" href="/logout/">Logout</a></li>
                </div>
              </ul>
            </li>
            {% else %}
            <li><a href="/login/" class="btn background text-light" id="search" style="font-weight: 600;">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="search-box">
  <div class="serach-form">
    <div class="closebtn">
      <span></span>
      <span></span>
    </div>
    <form action="#">
      <input type="text" placeholder="Search by keyword">
      <button><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8"
  style="background-image: url('{%static 'images/page-banner-1.jpg' %}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-banner-cont">
          <h2>Login</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Login</li>
              <li class="breadcrumb-item" aria-current="page"><a href="/signup/">Sign Up</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="login_box_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login_box_img">
          <img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
          <div class="hover">
            <h4>New to our website?</h4>
            <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
            <a class="btn background text-light w-50 p-2" href="/signup/">Create an Account</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        {% for i in messages %}
        <div class="alert alert-danger" role="alert">
          {{i}}
        </div>
        {% endfor %}
        <div class="login_form_inner">
          <h3>Log in to enter</h3>
          <form class="row login_form" action="" method="post" id="contactForm" novalidate="novalidate">
            {% csrf_token %}
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="name" name="username" placeholder="Username"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
            </div>
            <div class="col-md-12 form-group">
              <input type="password" class="form-control" id="name" name="password" placeholder="Password"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
            </div>
            <div class="col-md-12 form-group">
              <button type="Login" class="btn background text-light w-100">Log In</button>
              <a href="/forgetusername/">Forgot Password?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}